# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment and Secrets
.env
cert/
cert2/
cert_key.tar

# Databases
*.sqlite3

# Executables
ngrok.exe
ngrok.exe.old

# Generated static files
static/*.png
static/*.m4a

# Temporary files
patch_app.py
patch_db.py
get_translate.py
compare_handle_message.txt
extracted_funcs.py
data.txt
